.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid gold;
  padding: 10px;
}

.header{
  padding: 10px;
}

.p{
  font-size: xx-large;
  color: blue;
  font-weight: bold;
}
